{% load static %}
{% load erp_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> {{ user|get_company_name }} | {{ user|get_company_slogan }} </title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{% static '.' %}/dist/favicon.png" type="image/x-icon"/>


  <!-- Custom styles for this template -->
  <link href="{% static '/css/agency.css' %}" rel="stylesheet">

  {% if user|web_under_construction %}
     <meta http-equiv="Refresh" content="0; url={% url 'under-construction' %}">
  {% endif %}

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ user|get_company_name }}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home-index' %}">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home-index' %}#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home-index' %}#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home-index' %}#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home-index' %}#team">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home-index' %}#contact">Contacto</a>
          </li>

          {% if user|web_show_blog %}
           <li class="nav-item">
             <a class="nav-link js-scroll-trigger" href="{% url 'home-blog' %}">Blog</a>
           </li>
          {% endif %}

          {% if user|web_show_shop %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home-shop' %}">Tienda</a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">login</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://github.com/falconsoft3d/pyerp">Download</a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>