{% load static %}
{% load erp_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {{ user|get_company_name }} | {{ user|get_company_slogan }} </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static '.' %}/dist/favicon.png" type="image/x-icon"/>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static '/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/django.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body class="hold-transition {% if not user|get_sidebar_collapse %} sidebar-collapse {% endif %} sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark navbar-secondary"> <!--  -->
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>



    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li>
            <div class="nav-link">
                <b>{{ user|get_company_name }}</b>
            </div>

        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <div class="nav-link" title="Modo Online">
            {% if user|get_online %}
            <i class="fa fa-toggle-on"></i>
            {% else %}
            <i class="fa fa-toggle-off"></i>
            {% endif %}
          </div>
        </li>
      <li class="nav-item d-none d-sm-inline-block">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Salir
          </a>
          <!--
        <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
        -->
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">

      <img src="{% static 'dist/favicon_white.png' %}"
           alt="PyERP"
           style="opacity: .8; margin-left: 12px;" height="30px" >
      <span style="margin-left: 12px;" class="brand-text font-weight-light"><b>Py</b>ERP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static '/default.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            {% if user.username %}
                <a href="{% url 'user-detail' user.pk %}" class="d-block">{{ user.username }}</a>
            {% endif %}
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="/erp" class="nav-link">
              <i class="fa fa-home nav-icon"></i>
              <p>Inicio</p>
            </a>
          </li>

          <!--

          <li class="nav-item has-treeview">
              <a href="visitors" class="nav-link">
                <i class="nav-icon fas fa-comment"></i>
                <p>Visitantes</p>
                <span class="badge badge-info right">6</span>
              </a>
            </li>


          <li class="nav-item has-treeview">
              <a href="record" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>Historial</p>
              </a>
            </li>
          
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Configuración
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="profile" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Perfil</p>
                </a>
              </li>
              <li class="nav-item">
                  <a href="change_password" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Cambiar Contraseña</p>
                  </a>
                </li>
              <li class="nav-item">
                  <a href="widget" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Widget</p>
                  </a>
                </li>
            </ul>
          </li>
          
-->
{% block leftmenu %}
<!-- CRM Begin -->
<li class="nav-item has-treeview" >
    <a href="#" class="nav-link">
      <i class="fa fa-tasks nav-icon"></i>
      <p>
        CRM
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
        <a href="{% url 'dashboard-crm'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Tablero</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'lead'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Oportunidades</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'stage'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Etapas</p>
        </a>
      </li>
    </ul>
  </li>
<!-- CRM End -->


<!-- Ventas Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-file nav-icon"></i>
      <p>
        Ventas
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'partners' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Clientes</p>
        </a>
      </li>
      <li class="nav-item">
          <a href="{% url 'products' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Productos</p>
          </a>
        </li>
    </ul>
  </li>
<!-- Ventas End -->


<!-- Compras Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-book nav-icon"></i>
      <p>
        Compras
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>

    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'provider' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Proveedores</p>
        </a>
      </li>
      <li class="nav-item">
          <a href="{% url 'products' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Productos</p>
          </a>
        </li>
    </ul>

  </li>
<!-- Compras End -->


<!-- Inventario Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-cube nav-icon"></i>
      <p>
        Inventario
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="{% url 'products' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Productos</p>
          </a>
        </li>
        <li class="nav-item">
              <a href="{% url 'product-category' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categorías de Productos</p>
              </a>
        </li>

    </ul>

  </li>
<!-- Inventario End -->


<!-- Contabilidad Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-hdd nav-icon"></i>
      <p>
        Contabilidad
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'accountplan' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Plan de Cuentas</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'account-move' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Asientos Contables</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Inventario End -->


<!-- Punto Venta Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-desktop nav-icon"></i>
      <p>
         Punto de Venta
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'pos' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Cajas</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Inventario End -->


 <!-- Punto Venta Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-folder nav-icon"></i>
      <p>
        Proyectos
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'task' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Tareas</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'project' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Proyectos</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'bug' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Errores</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Inventario End -->

<!-- RRHH Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-child nav-icon"></i>
      <p>
        Nómina
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'employee' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Empleados</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'department' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Departamentos</p>
        </a>
      </li>
    </ul>
  </li>
<!-- RRHH End -->


<!-- Web Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-cloud nav-icon"></i>
      <p>
        Web
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'post' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Entradas</p>
        </a>
      </li>

       <li class="nav-item">
        <a href="{% url 'product-webcategory' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Categorías Web</p>
        </a>
      </li>

        <li class="nav-item">
            <a href="{% url 'website-config' 1 %}" class="nav-link">
                <i class="fa fa-cog nav-icon"></i>
                <p>Configuración</p>
            </a>
        </li>

    </ul>
  </li>
<!-- Web End -->


 <!-- Web Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-binoculars nav-icon"></i>
      <p>
        Marketing
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'channel' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Canales de Venta</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'campaign' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Campañas</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'mform' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Formularios</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Web End -->







<!-- Configuracion Begin -->
          <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fa fa-cogs nav-icon"></i>
                <p>
                  Configuración
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'users' %}" class="nav-link">
                    <i class="fa fa-users nav-icon"></i>
                    <p>Usuarios</p>
                  </a>
                </li>
              
                <li class="nav-item">
                  <a href="{% url 'companies' %}" class="nav-link">
                    <i class="fa fa-building nav-icon"></i>
                    <p>Compañias</p>
                  </a>
                </li>



                <li class="nav-item">
                    <a href="{% url 'base-config' 1 %}" class="nav-link">
                      <i class="fa fa-cog nav-icon"></i>
                      <p>General</p>
                    </a>
                  </li>

                <li class="nav-item">
                  <a href="{% url 'logs' %}" class="nav-link">
                    <i class="fa fa-building nav-icon"></i>
                    <p>Log</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'crons' %}" class="nav-link">
                    <i class="fa fa-building nav-icon"></i>
                    <p>Cron</p>
                  </a>
                </li>


                  <li class="nav-item">
                    <a href="{% url 'load-data' %}" class="nav-link">
                      <i class="fa fa-database nav-icon"></i>
                      <p>Cargar Datos Iniciales</p>
                    </a>
                  </li>

              </ul>
            </li>
<!-- Configuracion End -->




            
   <!--
          <li class="nav-item has-treeview">
              <a href="{% url 'logout' %}" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>Cerrar</p>
              </a>
            </li>
          
 {% endblock %}
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
     <!--Content Header (Page header)
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>PyERP</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Panel</li>
            </ol>
          </div>
        </div>
      </div>   /.container-fluid 
    </section>-->

    <!-- Main content -->
    <nav>
        <ol class="breadcrumb">
            {% for bc in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{% url bc.url %}">{{ bc.name }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item">{{ title }}</li>
        </ol>
    </nav>
    <section class="content">
        {% block content %}{% endblock %}
  </section>
  </div>
  <!-- /.content-wrapper -->

    <style>
        .mylink{
        color: #343A40
        }

        .mylink: hover{
        color: #343A40
        }

    </style>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.19
    </div>
    <strong>Copyright &copy; 2019 <a class="mylink" target="_blank" href="http://pyerp.cl">PyERP</a>.</strong> All rights
    reserved. Código Fuente:  <strong><a target="_blank" class="mylink" href="https://github.com/falconsoft3d/pyerp">github.com/falconsoft3d/pyerp</a></strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static '/plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static '/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static '/dist/js/demo.js' %}"></script>
{% block scripts %}
{% endblock %}


<!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que quieres salir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione salir si desea abandonar la cessión.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Salir</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
