{% extends "erp/dashboard.html" %}
{% load static %}
{% load erp_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/extensions/Buttons/css/buttons.dataTables.min.css' %}">
{% endblock %}
{% block content %}
    <div class="card card-primary card-outline mt-2">
        <div class="card-header">
            <a href="{% url add_url %}" class="btn btn-primary">Crear</a>
        </div>
        <div class="card-body">
            <table id="list_table" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        {% for field in fields %}
                        <th>{{ field.string }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr data-row-location="{% url detail_url object.pk %}" style="cursor: pointer;">
                        {% for field in fields %}
                        <td>{{ object|get_obj_attr:field.field }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'plugins/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/Buttons/js/buttons.flash.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/Buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/Buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/pdfmake/vfs_fonts.js'%}"></script>
<script>
    $(function () {
        $("#list_table").DataTable({
            dom: 'Bfrtip',
            buttons: ['csv' ,'pdf'],
        });
    });
    $('[data-row-location]').click(function () {
        window.location = $(this).data('rowLocation');
    });
</script>
{% endblock %}